# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
dist/
build/
*.egg-info/


# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Data
*.csv
*.tsv
*.mp4
*.gz
*.parquet

# Plots
*.png

# Model logs
lightning_logs/
*.out
*.ckpt
wandb/
GazeMouse_Classification/
trainings/logs/

